<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Machine Problem 6</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <context-param>
    <param-name>jdbcDriver</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>

  <servlet>
    <servlet-name>HomepageServlet</servlet-name>
    <servlet-class>jandjsandwiches.com.ph.controller.HomepageServlet</servlet-class>
    <init-param>
      <param-name>jdbcUrl</param-name>
      <param-value>jdbc:mysql://localhost:3306/despatt</param-value>
    </init-param>
    <init-param>
      <param-name>dbUsername</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>dbPassword</param-name>
      <param-value></param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
  	<servlet-name>HomepageServlet</servlet-name>
  	<url-pattern>/products</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>HomepageServlet</servlet-name>
  	<url-pattern>/choosemeal</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SearchResultServlet</servlet-name>
    <servlet-class>jandjsandwiches.com.ph.controller.SearchResultServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>SearchResultServlet</servlet-name>
    <url-pattern>/searchresult.action</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ChooseMealServlet</servlet-name>
  	<servlet-class>jandjsandwiches.com.ph.controller.ChooseMealServlet</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>ChooseMealServlet</servlet-name>
  	<url-pattern>/choosemeal.action</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>OrderMealServlet</servlet-name>
    <servlet-class>jandjsandwiches.com.ph.controller.OrderMealServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>OrderMealServlet</servlet-name>
    <url-pattern>/ordermeal.action</url-pattern>
  </servlet-mapping>
</web-app>